ion-content {
  --background: #344757; /* Color de fondo para el contenido general */
}
  /* Encabezado */
  ion-toolbar {
    --background: #0e2033;
  }
  
  ion-title {
    color: #ffffff; /* Color del texto */
  }